h1
{
	font-size: 30px;
}

.grid
{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid;
	border-color: #FF5A5F;
	border-radius: 4px;
	position: relative;
	text-align: center;
}

h2
{
	font-size: 30px;
	margin: auto;
}

.places
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}